title: Melvernaldo
description: Knowledge base for Physics and Mathematics
theme: just-the-docs
color_scheme: light

url: https://melvernaldo.github.io

aux_links:
  About: /about.html
  GitHub Repository: https://github.com/melvernaldo/melvernaldo.github.io

callouts:
  objectives:
    title: Learning Objectives
    color: green
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
